*{
    margin:auto;
}

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* Shared style  */
.btn-primary{
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 11px 20px 11px 20px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
border: none;

}



.btn-primary:hover{
    background-color: red;
}
.section{
    width: 1280px;
    border-bottom: 24px;
}
h1{

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;

}
h2{

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 40px;
    

}

p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 10px;
    margin-top: 20px;    
}

.middle-text{
    text-align: center;
    
}







/* Nav style */
nav{
display: flex;



}

.nav-title{

    color: #0d0d0d;
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}

/* Hero Style  */
.hero{
 display: flex;
 border-radius: 24px;
background: rgb(198, 228, 214);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 80px 100px 80px 100px;
justify-content: space-between;
margin-bottom: 80px;

}

/* Vision style  */



.box1{
width: 418px;
height: 325px;
    padding: 32px;
  
    border-radius: 16px;
    background-color: #5490F533;
}

.box2{

    width: 418px;
height: 325px;
    padding: 32px;
      border-radius: 16px;
    background-color: #C6E4D6;
}

.box3{

    width: 418px;
    height: 325px;
        padding: 32px;
      
        border-radius: 16px;
    background-color: #F7EBCF;
}

.vision-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;

}

.vision-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 48px;


}
.section{
    margin-top: 24px;
    margin-bottom: 80px;
    
}

.vision-box{
    display: flex;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
gap: 24px;

}

.btn-vision1{
    border-radius: 8px;
background: #5490F5;
padding: 11px 20px 11px 20px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
border: none;



}
.btn-vision2{
    border-radius: 8px;
    background: #09A15C;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}
.btn-vision3{
    border-radius: 8px;
    background: #FFC239;
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}
.btn-vision3:hover{
    background-color: red;
}
.btn-vision2:hover{
    background-color: red;
}

.btn-vision1:hover{
    background-color: red;
}
.btn-sub:hover{
    background-color: red;
}

/* younus declaration */
.decleration{
    padding: 48px, 24px, 48px, 24px;
    background-color: #FFFFFF;
    
}
/* openion style */
.openion-title{
    border-bottom: 240px;
}

table{
    position: static;
width: 1280px;
    border-collapse: collapse;

    border-radius: 16px;

background: #ffffff;
}

th{

    border-collapse: collapse;
   
      text-align: left;
    background: #c6e4d6;
    padding: 24px;

    
}

td{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);
padding: 24px;

}

select{
    background-color: #C6E4D6;
    padding: 24px;

}


.younus{
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 48px;
}
.younus-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}

/* Style News */

.news-title{

    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;

}

.news1{
    
    display: flex;
    gap: 20px;
}

.news2{

    display: flex;
    gap: 20px;
}

.news3{

    display: flex;
    gap: 20px;
}

.news-image{
    border-radius: 24px;
}

/* donate-section */
.donate-section{
    align-items: center;
    text-align: center;
}



.donate-box{
    margin-bottom: 20px;
    padding: 20px 40px;
    width: 1032px;
    text-align: center;

}
.btn-taka{
 border-radius: 16px;
    background: #FFFFFF
    color#0E0E0ECC;
    width: 252px;
    height: 158px;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    padding: 40px;
    gap: 20px;
}

.btn-taka200{
    border-radius: 16px;
    background: #ca2d6a
    color#0E0E0ECC;
    width: 252px;
    height: 158px;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    padding: 40px;

}
.btn-taka:hover{
    background-color: green;

}

.btn-taka200:hover{
    background-color: yellow;
}

/* .Newsletter-section */
.Newsletter-section {

padding: 80px 100px 80px 100px;
    border-radius: 24px;
background: rgb(198, 228, 214);
    align-items: center;
    text-align: center;
    margin-bottom: 80px;

}

.btn-sub{

border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
background: #006a50;
width: 120px;
height: 56px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center
border-left: none;
}

.email{
    padding: 18px 300px 18px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
}

/* footer style  */

footer{
    
    text-align: center; 
           
    align-items: center; 
    width: 1280px;
     margin-bottom: 50px;
    
  
  
}
.footer-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
margin: 64px 0px;
}

.footer-img{
   
   gap: 23px

}